@font-face {
  font-family: 'NotoSansKR-Medium';
  src: url('./fonts/NotoSansKR-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "NotoSansKR-Medium", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
p {margin:0}
* {box-sizing: border-box;}
button,
.btn {background-color: transparent;border:0;outline: none; cursor: pointer;}

.wrapper {width:100%;max-width:1080px;margin:0 auto;padding:40px 0 100px;display:flex;flex-direction: column;}
nav.active {width:100%;height:50px;display:flex;align-items:center;justify-content:center;text-align:center;margin-bottom:50px;left:0;top:0;box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;transition: 0.3s linear;}
nav.active.hidden {position:static}
nav.active.false {position:fixed}
nav.active > .nav-wrap {width:100%; max-width:1080px;margin:0 auto;display:flex;align-items:center;justify-content: center;}
nav.active > .nav-wrap > p {font-size:25px; font-weight:600;margin-right:auto;margin-left:auto}
.nation {display: flex;flex-wrap:wrap;gap:15px 10px}
.is-open-btn {display:flex;width:535px;align-items:center;background-color:rgba(7, 10, 19, 0.5); color:#fff; padding:5px 10px; font-size:15px;border-radius:4px;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;font-weight:500;order:2;transition:all ease-in-out .3s}
.is-open-btn:hover {background-color:rgba(7, 10, 19, 0.8)}
.is-open-btn.red {background-color: rgba(192, 38, 38, 0.6);order:1}
.is-open-btn.red:hover {background-color: rgba(192, 38, 38, 1)}
.is-open-btn > p {margin-right:8px;font-size:16px}
.is-open-btn.red > p {font-size:24px;font-weight:700}
.is-open-btn > .small,
.is-open-btn.red > .small {font-size:14px;margin-left:4px}
.flex-div {display:flex; align-items:center;flex-wrap: wrap}
.flex-div > p {margin-left:5px}
.flex-div > p:first-child {margin-left: 0}
.toggle-btn {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-btn > svg {
  position:absolute;
  font-size: 24px;
  transform: translateY(0);
  transition: all ease-in-out .3s;
}
.toggle-btn > svg.sun {
  transform: translateY(-100px);
}
.toggle-btn > svg.moon {
  transform: translateY(-100px);
}
.modal-close-btn {    
  position:absolute;
  right:12px;
  top:10px;
  font-size:20px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
}
.loader::before , .loader::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  width: 48em;
  height: 48em;
  background-image:
    radial-gradient(circle 10px, #3f3e3e 100%, transparent 0),
    radial-gradient(circle 10px, #3f3e3e 100%, transparent 0),
    radial-gradient(circle 10px, #3f3e3e 100%, transparent 0),
    radial-gradient(circle 10px, #3f3e3e 100%, transparent 0),
    radial-gradient(circle 10px, #3f3e3e 100%, transparent 0),
    radial-gradient(circle 10px, #3f3e3e 100%, transparent 0),
    radial-gradient(circle 10px, #3f3e3e 100%, transparent 0),
    radial-gradient(circle 10px, #3f3e3e 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
                       13em -13em, -13em -13em, 13em 13em, -13em 13em;
  background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}
.loader::after {
  font-size: 1px;
  background: #3f3e3e;
  animation: bounce 1s ease-in infinite;
}
@media screen and (max-width:1101px) {
  .wrapper {padding:100px 10px 50px}
  .is-open-btn {width:48%}
}
@media screen and (max-width:767px) {
  .nation {gap:5px 0}
  .is-open-btn {width:100%}
  .is-open-btn> p {font-size:13px}
}
@media screen and (max-width: 365px) {
  .is-open-btn> p {font-size:12px;margin-right: 4px}
}


@keyframes bounce {
  0% , 100%{ font-size: 0.75px }
  50% { font-size: 1.5px }
}
@keyframes blast {
  0% , 40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
   100% {
     font-size: 6px;
    opacity: 0;
  }
}